* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.section {
  padding: 48px 0;
}

.container {
  max-width: 900px;
  margin: 0 auto;
}

/* regole di reset inserite */

.debug header {
  min-height: 40px;
  background-color: azure;
  padding: 20px
}

/* (su) visualizzo il colore e formato minimo
dell'header per poter lavorare con un
corrispettivo visivo */

.debug .container {
  padding: 20px;
  background-color: gold;
  border: 4px dashed black;
}

/* (su) creo un bordo tratteggiato per visualizzare
la forma del mio primo flex-container. */

.debug .col {
  border: 4px dashed black;
}


.row {
  display: flex;
  /* flex-wrap: wrap; ????? *****/
}

header .row {
  justify-content: space-between;
}

/* devi lavorare sulla direzione per creare tre sezioni
diverse sul giallo */