* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.section {
  padding: 48px 0;
}

.container,
.container1 {
  max-width: 1000px;
  margin: 0 auto;
}

/* regole di reset inserite */

.debug header {
  min-height: 10px;
  background-color: rgb(173, 224, 224);
  padding: 20px
}

/* (su) visualizzo il colore e formato minimo
dell'header per poter lavorare con un
corrispettivo visivo */

.debug .container {
  padding: 5px;
  background-color: gold;
  border: 4px dashed black;
}

/* (su) creo un bordo tratteggiato per visualizzare
la forma del mio primo flex-container. */

.debug .col {
  border: 4px dashed black;
}


.row {
  display: flex;
  justify-content: center;
  /* flex-wrap: wrap; ????? *****/
}

header .row {
  justify-content: space-between;
}

/* devi lavorare sulla direzione per creare tre sezioni
diverse sul giallo */

.row .col {
  flex-basis: 20%;
}

.link {
  flex-grow: 1;
  text-align: center;
}

/* creata flex basis per dare il 20% a logo e login,
poi incrementata parte centrale dei vari link in modo 
che occupi il rimanente */

/***** SVILUPPO CONTENUTO PAGINA *****/

.debug .white {
  min-height: 600px;
  background-color: white;
  padding: 20px;
}

.debug .grey {
  min-height: 600px;
  background-color: gray;
  padding: 20px;
}

.row .aside {
  flex-basis: 60%;
  background-color: lightskyblue;
  min-height: 500px;
}

.row .main {
  flex-basis: 40%;
  background-color: lightpink;
  min-height: 500px;
}

.type-reverse {
  flex-direction: row-reverse;
}