* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

section {
  padding: 48px 0;
}

.container,
.container1,
.container-slate1,
.container-aqua {
  max-width: 1000px;
  margin: 0 auto;
}



/* regole di reset inserite */

.debug header {
  min-height: 10px;
  background-color: rgb(173, 224, 224);
  padding: 20px
}

/* (su) visualizzo il colore e formato minimo
dell'header per poter lavorare con un
corrispettivo visivo */

.debug .container {
  padding: 5px;
  background-color: gold;
  border: 4px dashed black;
  text-align: center;
}

/* (su) creo un bordo tratteggiato per visualizzare
la forma del mio primo flex-container. */

.debug .col {
  border: 4px dashed black;
}


.row {
  display: flex;
  justify-content: center;
  /* flex-wrap: wrap; ????? *****/
}

header .row {
  justify-content: space-between;
}

/* devi lavorare sulla direzione per creare tre sezioni
diverse sul giallo */

.row .col {
  flex-basis: 20%;
}

.link {
  flex-grow: 1;
  text-align: center;
}

/* sezione quadrato fucsia ****/


.debug .blu {
  min-height: 300px;
  background-color: blue;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.row .fuchsia-square {
  background-color: fuchsia;
  flex-basis: 100%;
  min-height: 300px;
  min-width: 700px;
}





/* creata flex basis per dare il 20% a logo e login,
poi incrementata parte centrale dei vari link in modo 
che occupi il rimanente */

/***** SVILUPPO CONTENUTO PAGINA *****/

/* CREATA UNA SECONDA SERIE DI CLASSI PER LA VERSIONE
CON SFONDO GRIGIO */

/* SEZIONI CON ASIDE E MAIN */



.debug .white {
  min-height: 600px;
  background-color: white;
  padding: 20px;
}

.debug .grey {
  min-height: 600px;
  background-color: gray;
  padding: 20px;
}

.row .aside {
  flex-basis: 60%;
  background-color: lightskyblue;
  min-height: 500px;
}

.row .main {
  flex-basis: 40%;
  background-color: lightpink;
  min-height: 500px;
}

.type-reverse {
  flex-direction: row-reverse;
}

/* SEZIONE SFONDO GRIGIO QUADRATO VERDE */

.row .green-square {
  background-color: green;
  flex-basis: 100%;
  min-height: 1000px;
}

/* SEZIONE ELEMENTI INCOLONNATI SFONDO SLATE */

.debug .slate {
  min-height: 300px;
  background-color: darkslategrey;
  padding: 20px;
}

.colmain,
.colsecondary {
  min-height: 700px;
}

.colmain {
  background-color: salmon;

}

.colsecondary {
  background-color: teal;
}

.row .colmain {
  flex-basis: 40%;
}

/* SEZIONE FINALE SLATE CON LOGO BOTTONE */

.debug .container-aqua {
  padding: 30px 0px;
  background-color: aqua;
  border: 4px dashed black;
}

.row {
  justify-content: space-between;
}

.logo2,
.button {
  background-color: pink;
  text-align: center;
}